@charset "UTF-8";

$red:#FF3399;


html {
	line-height: 1;
}
body{
	width: 100%;
}
div{
	color: $red;
}
a{
	text-decoration: underline;
	
	& .bold {
		font-weight: bold;
	}
}
li{
	display: block;
	font: {
		family: family;
		size: 1.5em;
		color: blue;
	  }
}
