h1 {
  color: red;
  font-size: 12px; }

.holizon_scroll {
  width: 100%; }
  .holizon_scroll .holizon_scroll ul {
    display: none; }
  .holizon_scroll .holizon_scroll_move {
    position: relative; }
  .holizon_scroll .holizon_scroll_move > div {
    float: left; }
