/* line 2, ../scss/kikuchi.scss */
html { line-height: 1; }

/* line 5, ../scss/kikuchi.scss */
body { width: 100%; }

/* line 8, ../scss/kikuchi.scss */
div { color: pink; }

/* line 11, ../scss/kikuchi.scss */
a { text-decoration: underline; }
