html {
  line-height: 1;
}

body {
  width: 100%;
}

div {
  color: #FF3399;
}

a {
  text-decoration: underline;
}
a .bold {
  font-weight: bold;
}

li {
  display: block;
  font-family: family;
  font-size: 1.5em;
  font-color: blue;
}
